---
import { AnimatedText } from "./AnimatedText";
import { MoveRight, PhoneCall } from "lucide-react";

export interface Props {
  title?: string;
  words?: string[];
}

const {
  title = "This is something",
  words = ["amazing", "new", "wonderful", "beautiful", "smart"],
} = Astro.props;
---

<div class="w-full">
  <div class="container mx-auto">
    <div class="flex gap-8 py-20 lg:py-40 items-center justify-center flex-col">
      <div>
        <button class="gap-4 flex items-center">
          Read our launch article <MoveRight className="w-4 h-4" />
        </button>
      </div>
      <div class="flex gap-4 flex-col">
        <h1
          class="text-5xl md:text-7xl max-w-2xl tracking-tighter text-center font-regular"
        >
          <span class="text-spektr-cyan-50">{title}</span>
          <AnimatedText words={words} client:load />
        </h1>

        <p
          class="text-lg md:text-xl leading-relaxed tracking-tight text-muted-foreground max-w-2xl text-center"
        >
          Managing a small business today is already tough. Avoid further
          complications by ditching outdated, tedious trade methods. Our goal is
          to streamline SMB trade, making it easier and faster than ever.
        </p>
      </div>
      <div class="flex flex-row gap-3">
        <button class="gap-4 flex items-center">
          Jump on a call <PhoneCall className="w-4 h-4" />
        </button>
        <button class="gap-4 flex items-center">
          Sign up here <MoveRight className="w-4 h-4" />
        </button>
      </div>
    </div>
  </div>
</div>
