<div class="flex items-center gap-1">
    <div class="flex size-6 items-center justify-center rounded-md">
        <div class="bg-neutral-700 rounded-sm size-6">
            <span
                class="flex justify-center text-sm h-full items-center text-neutral-200"
                >EX</span
            >
        </div>
    </div>

    <span class="text-neutral-200 font-light text-md">CALIBUR CMS</span>
</div>
