---
import "@fontsource-variable/merriweather";
import "@fontsource-variable/merriweather-sans";
import Navigation from "../components/Navigation.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen w-full bg-[#04060b] relative">
		<Navigation />
		<!-- Blue Radial Glow Background -->
		<div
			class="absolute inset-0 z-0"
			style="background-image: radial-gradient(circle 600px at 50% 50%, rgba(59,130,246,0.3), transparent);"
		>
		</div>
		<!-- Your Content/Components -->
		<div class="relative z-10 pt-16">
			<slot />
		</div>
		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					white 60%
				);
			}
		</style>
	</body>
</html>
